.loader-container {
  position:absolute;
  opacity: 0.8;
  background-color: $color-white;
  width:100%;
  height:100%;
  .loader {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: fixed;
    top: 40%;
    left: 50%;
  }
  .loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid $color-green;
    border-color: $color-green transparent $color-green transparent;
    animation: loader 1.2s linear infinite;
  }
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
